body {
    font-size: 16px;
    line-height: 20px;
    background-color: mediumturquoise;
}

p {
    color: rgb(53, 52, 52);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 36px;
    font-family: 'Lato', sans-serif;
}

#find-giphy {
    color: #ffffff;
    background: rgb(255, 136, 0);
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.gif {
    background: lightgray;
    padding: 10px 10px 10px 10px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin: 10 px;
    text-align: center;
}

.gify {
    color: blue;
    background: lightgray;
    padding: 10px 10px 10px 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 20 px;
    text-align: center;
}